/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'KBO-Dia-Gothic_bold';
}

p,h4 {
    font-family: "NanumSquareNeo-Variable";
}

h5 {
    font-family: 'omyu_pretty';
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

.icon-heading::before {
    content: "\f07c"; /* Font Awesome 아이콘 코드 */
    font-family: 'FontAwesome';
    margin-right: 10px;
}


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dashboard-content {
    display: flex;
    justify-content: space-between;
}

.search {
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
}

.search #address {
    width: 150px;
    height: 20px;
    line-height: 20px;
    border: solid 1px #555;
    padding: 5px;
    font-size: 12px;
    box-sizing: content-box;
}

.search #submit {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    border: solid 1px #555;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: content-box;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.form-check {
    position: relative;
    top: 30px;
    left: 30px;
}

.form-group-horizontal select {
    width: 150px; 
}

